@charset "utf-8";

/* 변수적용 */
:root {
    --main-color: #00A1FF;
    --black-color: #2F3438;
    --light-color: #dfdfdf;
}


* {
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: var(--black-color);
    font-family: "pretendard", "맑은고딕", sans-serif;
}

li {
    list-style: none;
}

.center {
    width: 1256px;
    margin: auto;
    padding: 0 60px;
}

.active {
    color: var(--main-color);
}

/* header{} */
header .container {
    border-bottom: 1px solid var(--light-color);
}

header .container:first-child{
    position: fixed;
    z-index: 100;
    background-color: #fff;
    width: 100%;
}

header .container:nth-child(2){
    padding-top: 78px;
}

.headerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-right: 35px;
}

.h1_logo {
    height: 30px;
}

.gnb {
    flex: 1;
}

.gnb a {
    font-size: 18px;
    padding: 20px 14px;
    /*마우스 영역을 넓게 하기 위해서 margin보가는 padding으로*/
    font-weight: 700;
    display: inline-block;
    line-height: 1;
}

.gnb a:hover {
    color: var(--main-color);
}


.headerTop>div {
    display: flex;
    align-items: center;
}

/* search */
.search {
    border: 1px solid var(--light-color);
    padding: 10px;
}

.search i {
    color: #b4b4b4;
    font-size: 20px;
}

.search input {
    max-width: 240px;
    /*화면이 작아지면 알아서 작아진다.*/
    border: none;
    outline: none;
    /*포커스가 되었을떄 생기는 선*/
}

.search input::placeholder {
    color: #c0c0c0;
}

.cart {
    margin: 0 20px;
}
.cart:hover{
    color: var(--main-color);
}

.memberList {
    display: flex;
}

.memberList a {
    padding: 0 10px;
    font-size: 15px;
}

.write {
    background: var(--main-color);
    /* appearance: unset; */
    border: none;
    width: 100px;
    height: 40px;
    display: block;
    border-radius: 4px;
    color: #fdfdfd;
    font-size: 17px;
    margin-left: 15px;
    transition: 0.2s;
}

.write i {
    margin-left: 5px;
}

.write:hover {
    filter: grayscale(0.5);
}

.menu {
    height: 50px;
}

.menuList {
    display: flex;
}

/* .menuList li{} */
.menuList a {
    display: inline-block;
    line-height: 50px;
    font-weight: 600;
    padding: 0 10px;
}

.menuList a:hover {
    color: var(--main-color);
}

.menuList .active::after,
.menuList li:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--main-color);
    margin-top: -3px;
}

/* 가상의 공간을 만드면 가로길이를 넣을구 있다 */

/* main */
main {
    margin-top: 30px;
}

.main_visual {
    display: flex;
    height: 510px;
    column-gap: 20px;
}

section.center {
    margin: 60px auto;
}

.main_visual_01 {
    flex: 3;
    position: relative;
}

.main_visual_02 {
    flex: 1;
}

.main_visual figure {
    height: 510px;
    border-radius: 4px;
    overflow: hidden;
}

.main_visual figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.main_visual>div:hover figure img {
    transform: scale(1.05);
}

.main_visual .txt {
    position: absolute;
    bottom: 30px;
    left: 30px;

}

.main_visual .txt h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: #fdfdfd;
}

/* .main_visual .id{} */

.id {
    display: block;
}

.id img {
    width: 24px;
    border-radius: 50%;
}

.id span {
    font-size: 14px;
    color: #fdfdfd;
}


/* .icon_menu{} */
.icon_menuList {
    display: flex;
    justify-content: space-between;
}

.icon_menu li {
    flex: 1;
    text-align: center;
}

/* .icon_menu a{} */
.icon_menu img {
    width: 88px;
}

.icon_menu span {
    display: block;
    /*작성을 해주면 자동 줄바꿈이 된다.*/
    margin-top: 12px;
}

.sTitle {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

/* .titleText{} */
.titleText h3 {
    margin-bottom: 8px;
}

.titleText h3:hover,
.s_title_more:hover {
    opacity: .5;
}

.titleText p {
    font-size: 14px;
}

.s_title_more {
    color: var(--main-color);
    font-weight: 600;
}

/* ------------------------- */
/* .reco {}

.thumbWrap {} */

.flexWrap {
    display: flex;
    gap: 20px;
}

.flexWrap li{
    cursor: pointer;
    position: relative;
    flex: 1;
}

.flexWrap li:hover figure img {
    transform: scale(1.05);
}

.thumb6 .imgWrap {
    height: 230px;
}

.imgWrap figure {
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
}

.imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.flexWrap .id {
    position: absolute;
    bottom: 10px;
    left: 10px;
}


.scrapBtn {
    width: 24px;
    height: 24px;
    background: url("../img/bookmark.png");
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.scrapBtn:hover{
    background-image: url("../img/bookmark_on.png");
}

/* .reco .flexWrap {
    height: 230px;
} */

.today figure{
    height: 180px;
}

.today .scrapBtn{
    /* border: 1px solid #000; */
    bottom: auto;
    top: 150px;
}

.thumTxt{
    margin-top: 10px;
    line-height: 1.5;
}

.user figure{
    height: 240px;
}

.user .thumTxt h3{
    font-size: 17px;
    line-height: 2;
}

.user .thumTxt p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* border: 1px solid #000; */
    -webkit-line-clamp: 3;
    overflow: hidden;
}



/* footer */
footer{
    background: #F7F9FA;
    padding: 50px 0;
    font-size: 12px;
}
.footer_in{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;/*1:1:2로 나눌거야 아니면 가로길이를 주어서 할 수 있다.*/
}
.service{}
.service h4{
    font-size: 18px;
    font-size: 700;
    margin-bottom: 25px;
}
.service i{
    font-size: 14px;
}
.service h4 span{
    vertical-align: middle;
}

.service > p{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}
.service > p span{
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
}
.service ul{
    padding-bottom: 10px;
}
.service li{
    /* list-style-type: disc; */
    margin-left: 15px;
    font-weight: 300;
    line-height: 1.1;
}

.service li::marker{
    content: "·  ";/*검사에서 확인해서 변경*/
    font-size: 20px;
}

.boxBtn{
    display: inline-block;
    padding: 10px;
    border: 1px solid #c7c7c7;
    margin: 6px 0;
    font-size: 14px;
}

.footer_menu{
    border-left: 2px solid var(--light-color);
    border-right: 2px solid var(--light-color);
    padding:0 30px;
}
.footer_menu ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px 10px;/*위아래 , 좌우*/
}
.footer_menu a:hover,
.address p a:hover{
    text-decoration: underline;
}
.address{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
}
.address p{
    line-height: 1.6;
    color: #aaaaaa;
}

.address p:first-child{
    font-size: 12px;
}

.address .boxes{
    display: grid;
    grid-template-columns: 180px 116px 116px;
    gap: 10px;
}
.address .boxBtn{
    font-size: inherit;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
}


.address .boxBtn img{
    width: 32px;
}
.address .adrress_sns svg{
    margin-right: 10px;
    cursor: pointer;
    opacity: .5;
    transition: .3s;
}

.address .adrress_sns svg:hover{
    opacity: 1;
}